<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>688490993892-6bp0ijqcj8bova81t1qlmf0p7npinc2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688490993892-6bp0ijqcj8bova81t1qlmf0p7npinc2o</string>
	<key>API_KEY</key>
	<string>AIzaSyA_xCwq1Nn6pYHp2wp6CA79k4lIRiOKlrI</string>
	<key>GCM_SENDER_ID</key>
	<string>688490993892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.higherVisibility.RealDatabase</string>
	<key>PROJECT_ID</key>
	<string>firrbasedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>firrbasedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688490993892:ios:43bb90e936c42d74</string>
	<key>DATABASE_URL</key>
	<string>https://firrbasedemo.firebaseio.com</string>
</dict>
</plist>